@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*
{
    font-family:'roboto slab' , serif;
}
body
{
    background: url(/fondo.jpeg);
    background-size: 100%;
    flex: auto;
}
.foto_carnet
{
    width: 140px;
    border: 4px solid rgb(27, 182, 174);
    padding: 5px;
    border-radius: 100%;
    }
.principal
{
    border: solid 3px rgb(27, 182, 174) ;
    width: 70%;
    margin: 0px auto;
    padding: 15px;
    background-color: rgb(222, 195, 247);
}
.titulo
{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    border: 4px solid rgb(185, 57, 168);
    padding: 2px;
    border-radius: 20px;
    width: 400px;
    margin: 0 auto;
    

}
legend
{
    font-weight: bold;
    font-size: larger;
}
.recuadro
{
    border: dotted 5px rgb(185, 57, 168);
    padding: 10px;
}